<div class="section footer mb-0">
	<div class="container">
		<div class="row footer-row">
			<div class="col-12 text-right">
				<a class="btn btn-circle btn-outline-semi-light footer-circle-button scrollTo" href="#home" id="footerCircleButton"><i
						class="simple-icon-arrow-up"></i></a>
			</div>
			<div class="col-12 text-center footer-content">
				<a href="LandingPage.Home.html">
					<img class="footer-logo" alt="footer logo" src="img/landing-page/logo-footer.svg" />
				</a>
			</div>
		</div>
		<div class="row" id="footerMenuAccordion">
			<div class="col-12 col-xs-6 col-sm-3 offset-0 col-lg-2 offset-lg-2 footer-menu mb-5">
				<div class="d-flex flex-column align-items-center">
					<a href="#" class="d-inline-block d-xs-none collapse-button mb-1" data-toggle="collapse" data-target="#menuGroup1"
						aria-expanded="true">COMPANY <i class="simple-icon-arrow-down"></i></a>
					<ul class="list-unstyled footer-menu collapse d-xs-block mb-0" id="menuGroup1" data-parent="#footerMenuAccordion">
						<li class="d-none d-xs-inline-block">
							<p>COMPANY</p>
						</li>
						<li><a href="LandingPage.About.html">About</a></li>
						<li><a href="LandingPage.Blog.html">Blog</a></li>
						<li><a href="LandingPage.Careers.html">Careers</a></li>
						<li><a href="LandingPage.Contact.html">Contact</a></li>
					</ul>
				</div>
			</div>

			<div class="col-12 col-xs-6 col-sm-3 col-lg-2 footer-menu mb-5">
				<div class="d-flex flex-column align-items-center">
					<a href="#" class="d-inline-block d-xs-none collapse-button mb-1" data-toggle="collapse" data-target="#menuGroup2"
						aria-expanded="true">PRODUCT <i class="simple-icon-arrow-down"></i></a>
					<ul class="list-unstyled footer-menu collapse d-xs-block  mb-0" id="menuGroup2" data-parent="#footerMenuAccordion">
						<li class="d-none d-xs-inline-block">
							<p>PRODUCT</p>
						</li>
						<li><a href="LandingPage.Features.html">Features</a></li>
						<li><a href="LandingPage.Prices.html">Pricing</a></li>
						<li><a href="LandingPage.Docs.html">Api</a></li>
						<li><a href="LandingPage.Docs.html">Enterprise</a></li>
					</ul>
				</div>
			</div>

			<div class="col-12 col-xs-6 col-sm-3 col-lg-2 footer-menu mb-5">
				<div class="d-flex flex-column align-items-center">
					<a href="#" class="d-inline-block d-xs-none collapse-button mb-1" data-toggle="collapse" data-target="#menuGroup3"
						aria-expanded="true">LEARNING <i class="simple-icon-arrow-down"></i></a>
					<ul class="list-unstyled footer-menu collapse d-xs-block mb-0" id="menuGroup3" data-parent="#footerMenuAccordion">
						<li class="d-none d-xs-inline-block">
							<p>LEARNING</p>
						</li>
						<li><a href="LandingPage.Contact.html">Help</a></li>
						<li><a href="LandingPage.Docs.Detail.html">Quick Start</a></li>
						<li><a href="LandingPage.Docs.html">Docs</a></li>
						<li><a href="LandingPage.Videos.html">Videos</a></li>
					</ul>
				</div>
			</div>

			<div class="col-12 col-xs-6 col-sm-3 col-lg-2 footer-menu mb-5">
				<div class="d-flex flex-column align-items-center">
					<a href="#" class="d-inline-block d-xs-none collapse-button mb-1" data-toggle="collapse" data-target="#menuGroup4"
						aria-expanded="true">LEGAL <i class="simple-icon-arrow-down"></i></a>
					<ul class="list-unstyled footer-menu collapse d-xs-block mb-0" id="menuGroup4" data-parent="#footerMenuAccordion">
						<li class="d-none d-xs-inline-block">
							<p>LEGAL</p>
						</li>
						<li><a href="LandingPage.Content.html">Security</a></li>
						<li><a href="LandingPage.Content.html">Privacy</a></li>
						<li><a href="LandingPage.Content.html">Cookies</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="separator mt-5"></div>
	<div class="container copyright pt-5 pb-5">
		<div class="row">
			<div class="col-12"></div>
			<div class="col-6">
				<p class="mb-0">2018 © ColoredStrategies</p>
			</div>
			<div class="col-6 text-right social-icons">
				<ul class="list-unstyled list-inline">
					<li class="list-inline-item">
						<a href="#"><i class="simple-icon-social-facebook"></i></a>
					</li>
					<li class="list-inline-item">
						<a href="#"><i class="simple-icon-social-twitter"></i></a>
					</li>
					<li class="list-inline-item">
						<a href="#"><i class="simple-icon-social-instagram"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
